.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-brand:hover 
{
    color:#fff;
}
.navbar-light .navbar-nav .nav-link:hover 
{
    color:#fff;
}
.nav-link
{
    margin-right:30px;
}
.navbar-light .navbar-brand img 
{
    width:60px;
    height:60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
@media (max-width:992px) {
    .fa-bars:before {
        content: "\f0c9";
        color: #fff;
    }
}